.nav-link{
	font-size: 13px;
}
.nav{
	background-color: #fff; 
	padding: 10px;
}
.card-title{
	text-align: center;
}
.card-text{
	text-align: center;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
}
.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.nav a.active {
    border-bottom: 1px solid #fd27eb;
}
.link-outlook{
color: red;
}

