<ul class="nav active">
  	<a class="nav-link" href="#">Individual</a>
  	<a class="nav-link" href="#">Team</a>
  	<a class="nav-link" href="#">Activity Summary</a>
  	<a class="nav-link link-outlook" href="#">Link To OutLook</a>
</ul>
<div style="background-color: #fff">
	<div class="row">
  		<div class="col-sm-6 col-md-3">
    		<div class="card" style="background-color: #155263; color: #fff;">
      			<div class="card-body">
        			<h5 class="card-title">Leads</h5>
       				<h1 class="card-text">10</h1>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-3">
    		<div class="card" style="background-color: #ff6f3c; color: #fff;">
      			<div class="card-body">
        			<h5 class="card-title">Oppotunities</h5>
        			<h1 class="card-text">18</h1>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-3">
    		<div class="card" style="background-color: #ff9a3c; color: #fff;">
      			<div class="card-body">
        			<h5 class="card-title">Calls</h5>
        			<h1 class="card-text">19</h1>
      			</div>
    		</div>
  		</div>
  		<div class="ccol-sm-6 col-md-3">
    		<div class="card" style="background-color: #ffc93c; color: #fff;">
      			<div class="card-body">
        			<h5 class="card-title">Clients Activities</h5>
       				 <h1 class="card-text">33</h1>
      			</div>
    		</div>
 		 </div>
	</div>
</div>