<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
    <!--begin::Logo-->
    <a routerLink="/" class="brand-logo">
        <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Logo-->

    <ng-container *ngIf="asideSelfMinimizeToggle">
        <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span
        [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        "
        cacheSVG="true"
        class="svg-icon svg-icon-xl"
      ></span>
    </button>
    </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
    <ng-container *ngIf="disableAsideSelfDisplay">
        <!--begin::Header Logo-->
        <a routerLink="/">
            <img alt="Logo" [attr.src]="headerLogo" />
        </a>
        <!--end::Header Logo-->
    </ng-container>
    <!--begin::Menu Container-->
    <div id="kt_aside_menu" class="aside-menu" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1" [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown" data-menu-dropdown-timeout="500">
        <!-- begin::Menu Nav -->
        <ul class="menu-nav" [ngClass]="ulCSSClasses">
            <!-- begin::1 Level -->
            <!-- <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                    <span class="menu-text" translate="MENU.DASHBOARD"></span>
                </a>
            </li> -->
            <!-- end::1 Level -->

            <!-- begin::1 Level -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Chart-bar2.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Strategic Objective Management</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Chart-bar2.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Tactic Management</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Chart-bar2.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Action Management</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active" routerLink="/sam/calendar">
                    <span class="svg-icon menu-icon">
                        <i class="ki ki-calendar icon-md"></i>
                    </span>
                    <span class="menu-text">Calendar</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Home/Bulb1.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Sales Leads</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Money.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Opportunities</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Account Management</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Contact Management</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/General/Settings-1.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Campaign</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/General/Settings-1.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Mailing List</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/General/Attachment2.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Help & Resources</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Code/Settings4.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">System Configuration & Admin</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Chart-bar2.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Reports</span>
                </a>
            </li>
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLinkActive="active">
                    <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Chart-bar2.svg'" class="svg-icon menu-icon"></span>
                    <span class="menu-text">Case Management</span>
                </a>
            </li>
            <!-- end::1 Level -->
        </ul>
        <!-- end::Menu Nav -->
    </div>
    <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->