:host {
    .aside {
        height: 100%;
        .aside-menu {
            margin: 0;
        }
    }
    // fixed text line break issue on minimized aside hover
    .menu-text {
        white-space: nowrap;
    }
}

img {
    max-width: 170px;
}

.menu-text {
    font-size: 12px !important;
}